.profile {
  display: flex;
  gap: 116px;
  min-height: 90%;
}

.profile__edit-btn {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0 10px;
}

.profile__edit .clothes__add-btn {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0 10px;
}

.clothes__add-btn {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0 10px;
  color: #00000099;
}

.clothes__title {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0 10px;
}
.clothes__header {
  display: flex;
  gap: 20px;
}

.clothes__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
