.card {
  width: 325px;
  height: 328px;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card__title {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  opacity: 60%;
  background-color: #fff;
  padding: 2px 12px;
  border-radius: 4px;

  pointer-events: auto;
}

.card__image {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  border: 1px solid #0000004d;
  cursor: pointer;
  overflow: hidden;
  max-height: 328px;
  max-width: 325px;
}

.card__like {
  width: 20px;
  height: 18px;
  border: none;
  padding: 0;
  background: transparent url("../../assets/like.svg") center / contain
    no-repeat;
  cursor: pointer;

  pointer-events: auto;
}

.card__like_active {
  background-image: url("../../assets/like-active.svg");
}

.card__like_hidden {
  display: none;
}

.card__header {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  z-index: 2;
  pointer-events: none;
}
