.header {
  display: flex;
  justify-content: space-between;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
}

.header__side {
  display: flex;
  align-items: center;
}

.header__add-clothes-btn {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0 20px;
}

.header__btn {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0 10px;
}

.header__avatar {
  padding-left: 12px;
  max-width: 40px;
  max-height: 40px;
}

.header__link {
  display: flex;
  text-decoration: none;
  color: black;
}

.header__username {
  padding-left: 20px;
}

.header__logo {
  padding-right: 24px;
}
