.header {
  display: flex;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
}

.header__add-clothes-btn {
  margin-left: auto;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header__avatar {
  padding-left: 12px;
}

.header__username {
  padding-left: 20px;
}

.header__logo {
  padding-right: 24px;
}
