.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  padding: 85px 42px 0 0;

  gap: 16px;
  width: 100%;
  background: #fff;
  color: #000000;
}

.footer__credit,
.footer__year {
  margin: 0;
  font-size: 14px;
  color: #000000;
}
